// normal
$blue1: #CCDBDC;
$blue2: #9AD1D4;
$blue3: #80CED7;
$blue4: #007EA7;
$blue5: #003249;

// contrast
$contrast1: #97D8B2;
$contrast2: #A0ACAD;
$contrast3: #531253;
$contrast4: #33032F;
$contrast5: #170312;

